<table class="table table-striped">
  <tbody>
    {{#each clocks}}
    <tr>
      <td>{{id}}</td>
      <td>{{manufacturer}}</td>
      <td>{{model}}</td>
      <td>{{type}}</td>
      <td>{{price}}</td>
      <td><a href="/clocks/{{id}}" class="btn btn-secondary">Show</a></td>
      <td><a href="/clocks/{{id}}/edit" class="btn btn-success">Edit</a></td>
      <td>
        <form method="POST" action="/clocks/{{id}}?_method=DELETE">
        <input class="btn btn-danger" type="submit" value="Delete" />
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<a href="/clocks" class="btn btn-primary">New</a>